/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}



#wrapper {
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #E1E1E1;
}

span.form-required{
color:black;
}

/***************************
***************************  INICIO USUARIO NO LOGUEADO
**************************/

body.not-logged-in #wrapper{
background:transparent;
border:none;
}

body.not-logged-in #main{
border:none;
}


body.not-logged-in #main-content{
border:none;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-bottomleft:8px;
}

body.not-logged-in #navigation {
display:none;
}

body.not-logged-in #footer{
display:none;
}

/* Iniciar Sesión */

body.not-logged-in #edit-name-wrapper.form-item label{
float:left;
text-align:right;
width:110px;
padding-right:15px;
}

body.not-logged-in #edit-name-wrapper{
margin-bottom:30px;
}

body.not-logged-in #edit-name-wrapper.form-item input{
border:none;
background:#fff;
width:300px;
}

body.not-logged-in #edit-pass-wrapper.form-item label{
float:left;
text-align:right;
width:110px;
padding-right:15px;
}

body.not-logged-in #edit-pass-wrapper.form-item input{
border:none;
background:#fff;
width:300px;
}

body.not-logged-in .description {
padding-left:125px;
padding-top:5px;
}

body.not-logged-in #edit-persistent-login-wrapper {
padding-left:122px;
}

body.not-logged-in #edit-persistent-login-wrapper input{
border:none;
background:#fff;
margin-top:20px;
}

input#edit-submit{
margin-left:122px;
font-size:12px;
margin-bottom:30px;
margin-top:20px;
}

body.not-logged-in #main .tabs ul.primary{
border:none;
margin-bottom:0px;
padding-left:0px;
margin-left:0px;
padding-bottom:3px;
}

body.not-logged-in #main .tabs li a {
color:#fff;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background:#252525;
padding-top:3px;
padding-bottom:3px;
border:none;
}

body.not-logged-in #main .tabs li a.active{
background:##252525;
border:none;
font-weight:bold;
}

body.not-logged-in #main .tabs li a:hover{
background:red;
}

/* Crear nueva cuenta */

/*form#user-register {
border-bottom:3px dotted #E42236;
}*/


body.not-logged-in form#user-register legend{
font-size:16px;
}

body.not-logged-in form#user-register #edit-name-wrapper.form-item label {
width:209px;
}

body.not-logged-in form#user-register .description{
padding-left:223px;
}

body.not-logged-in form#user-register #edit-profile-name-wrapper.form-item label {
width:209px;
text-align:right;
float:left;
padding-right:10px;
}

body.not-logged-in form#user-register #edit-profile-name-wrapper.form-item input {
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
width:300px;
}

body.not-logged-in form#user-register #edit-profile-name-wrapper .description {
display:none;
}


body.not-logged-in form#user-register #edit-profile-lastname-wrapper.form-item label {
width:209px;
text-align:right;
float:left;
padding-right:10px;
}

body.not-logged-in form#user-register #edit-profile-lastname-wrapper.form-item input {
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
width:300px;
}


body.not-logged-in form#user-register #edit-profile-lastname-wrapper .description {
display:none;
}

body.not-logged-in form#user-register #edit-profile-date-wrapper.form-item label {
width:209px;
text-align:right;
float:left;
padding-right:10px;
}

body.not-logged-in form#user-register #edit-profile-date-wrapper .description {
display:none;
}


body.not-logged-in form#user-register #edit-profile-coop-wrapper.form-item label {
width:209px;
text-align:right;
float:left;
padding-right:10px;
}


body.not-logged-in form#user-register #edit-profile-coop-wrapper .description {
display:none;
}

body.not-logged-in form#user-register #edit-profile-coop-wrapper.form-item input {
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
width:300px;
}

body.not-logged-in fieldset.captcha {
margin-top:50px;
}

body.not-logged-in form#user-register fieldset.captcha .description{
padding-left:0px;
padding-bottom:10px;

}

#edit-captcha-response-wrapper label {
float:left;
padding-right:10px;
}

#edit-captcha-response-wrapper input{
background:#fff;
border:none;
}

#edit-captcha-response-wrapper .description{
padding-left:230px;
}

form#user-register input#edit-submit {
margin-left:0px;
margin-top:20px;
margin-bottom:30px;
}

body.not-logged-in #edit-mail-wrapper.form-item input{
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
width:300px;
}

body.not-logged-in #edit-mail-wrapper.form-item label{
float:left;
padding-right:15px;
text-align:right;
width:209px;
}

/* Nueva Contraseña */

/*form#user-pass {
border-bottom:3px dotted #E42236;
}*/

body.not-logged-in form#user-pass #edit-name-wrapper.form-item label {
width:195px;
}

body.not-logged-in form#user-pass input#edit-submit{
margin-left:210px;
}


/***************************
***************************  VISTA DE PERFIL
**************************/

.profile .picture {
margin-right:0px;
}

.profile h3 {
border-bottom: none;
font-weight:normal;
} 

.profile dt {
float:left;
padding-right:10px;
}

#user-profile-form input#edit-submit {
margin-left:0px;
}

html.js #user-profile-form fieldset.collapsible legend a{
color:#fff;
text-decoration:none;
}

#edit-profile-name-wrapper input#edit-profile-name{
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
width:300px;
}

#edit-profile-lastname-wrapper input#edit-profile-lastname{
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
width:300px;
}

#edit-profile-coop-wrapper input#edit-profile-coop{
background:#FFFFFF none repeat scroll 0 0;
border:medium none;
width:300px;
}

/***************************
***************************  INICIO USUARIO LOGUEADO
**************************/

body.logged-in.page-user #wrapper{
background:transparent;
border:none;
}

body.logged-in.page-user #main {
border:none;
}

body.logged-in.page-user #main-content{
border:none;
-moz-border-radius-topleft:0px;
-moz-border-radius-topright:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-bottomleft:8px;
padding-top:60px;
}

 
body.logged-in.page-user #main .tabs ul.primary{
border:none;
margin-bottom:0px;
padding-left:0px;
margin-left:0px;
padding-bottom:3px;
}

body.logged-in.page-user #main .tabs ul.primary li a {
color:#fff;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background:#252525;
padding-top:3px;
padding-bottom:3px;
border:none;
}

body.logged-in.page-user #main .tabs ul.primary li a.active{
background:##252525;
border:none;
font-weight:bold;
}

body.logged-in.page-user #main .tabs ul.primary li a:hover{
background:red;
}

body.logged-in.page-user #main .tabs ul.secondary {
margin-bottom:-39px;
}

body.logged-in.page-user #main .tabs ul.secondary li{
border-right:1px solid #1a1a1a;
}

body.logged-in.page-user #main .tabs ul.secondary li a{
color:#1a1a1a;
}

body.logged-in.page-user #main .tabs ul.secondary li a:hover{
font-weight:bold;
}

body.logged-in.page-user #main .tabs ul.secondary li a.active{
border-bottom:3px solid #1a1a1a;
}

#main .messages.status {
margin-bottom:-19px;
}

/* Editar perfil */

body.logged-in.page-user #user-profile-form legend{
font-size:16px;
}

body.logged-in.page-user #edit-name-wrapper.form-item label{
float:left;
text-align:right;
width:215px;
padding-right:15px;
}

body.logged-in.page-user #edit-name-wrapper{
margin-bottom:30px;
}

body.logged-in.page-user #edit-name-wrapper.form-item input{
border:none;
background:#fff;
width:300px;
}

body.logged-in.page-user #edit-mail-wrapper.form-item label{
float:left;
text-align:right;
width:215px;
padding-right:15px;
}

body.logged-in.page-user #edit-mail-wrapper{
margin-bottom:30px;
}

body.logged-in.page-user #edit-mail-wrapper.form-item input{
border:none;
background:#fff;
width:300px;
}

body.logged-in.page-user #edit-pass-wrapper.form-item label{
float:left;
text-align:right;
width:215px;
padding-right:15px;
height:auto;
}

body.logged-in.page-user #edit-pass-wrapper.form-item input{
border:none;
background:#fff;
width:300px;
}

body.logged-in.page-user .description {
padding-left:230px;
padding-top:5px;
}

body.logged-in.page-user .form-item label {
width:215px;
text-align:right;
float:left;
padding-right:15px;
height:50px;
}

body.logged-in.page-user .form-radios label {
width:215px;
text-align:right;
float:left;
padding-right:15px;
}

body.logged-in.page-user .form-radios #edit-status-0-wrapper label.option {
width:50px;
text-align:right;
float:none;
}

body.logged-in.page-user .form-radios #edit-status-1-wrapper label.option {
width:50px;
text-align:right;
float:none;
}

body.logged-in.page-user #edit-roles-2-wrapper label.option{
float:none;
width:50px;
}

body.logged-in.page-user #edit-roles-3-wrapper label.option{
float:none;
width:50px;
}

body.logged-in.page-user #edit-picture-delete-wrapper label.option{
float:none;
width:auto;
}

body.logged-in.page-user #edit-picture-delete-wrapper .description{
width:auto;
float:none;
padding-left:0px;
}

body.logged-in.page-user #edit-picture-upload-wrapper label{
width:auto;
float:left;
padding-left:0px;
}

body.logged-in.page-user #edit-picture-upload-wrapper .description{
padding-left:112px;
}

/***************************
***************************  GENERAL
**************************/

body {
background: /*#EFECEA*/#F1EEEE;
color:#1A1A1A;
}

#page{
background:/*#EFECEA*/#F1EEEE;
}

#header-wrapper {
float:left;
padding:40px 0 40px 25px;
}

#site-subheader {
display:none;
}

#branding {
color:#fff;
/*height:50px;*/
margin-top:3px;
}


#branding a{
color:#fff;
text-decoration:none;
font-size:16px;
font-weight:normal;
}

#branding #logo{
float:left;
}

#site-name{
background:transparent;
color:#252525;
/*height:50px;*/
font-size:44px;
line-height:1;
}

#site-name a{
padding-left:15px;
padding-right:15px;
color:#252525;
font-size:44px;
line-height:1;
}

#site-name a:hover{
text-decoration:none;
color:#252525;
}

#site-slogan{
/*height:50px;*/
background:transparent;
/*width:717px;*/
margin-left:3px;
}

#site-slogan h1 {
font-weight:normal;
font-size:16px;
padding-left:90px;
padding-right: 15px;
padding-top:8px;
margin-bottom:0px;
color:#252525;
text-transform:uppercase;
}

#footer {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #E1E1E1;
margin-top:30px;
}

#footer #footer-message {
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}

#footer #footer-message p{
margin:0px;
font-size:10px;
text-align:center;
}

#footer #footer-message p img{
margin-right:10px;}


/* Menú Principal */

#navigation{
padding-top:0px;
/*height:25px;*/
background:#252525;
}

ul.main-menu{
background:#252525;
/*height:25px;*/
padding-top:7px;
float:left;
/*width:638px;*/
}

ul.main-menu li{
padding-left:15px;
padding-right:15px;
}

ul.main-menu li a{
font-size:13px;
color:#fff;
text-decoration:none;
font-weight:300;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
}

ul.main-menu li a:hover {
  background:red;
  color:#252525;
  padding-bottom:9px;
  padding-top:4px;
}

ul.main-menu li.active a{
color: #2E2E2E;
background-color:#F1EEEE;
padding-left:11px;
padding-right:11px;
padding-bottom:9px;
padding-top:4px;
}

/* Menú Secundario */

#secondary-links{
background:#252525;
padding-top:7px;
padding-bottom:7px;
text-align:left;
}

ul.secondary-menu{
text-align:right;

}

ul.secondary-menu a{
color:#fff;
background:#252525;
font-size:10px;
text-decoration:none;
padding-top:7px;
}

ul.secondary-menu li.active a{
font-weight:bold;
}

ul.secondary-menu a:hover{
text-decoration:underline;
}


/**************************************************************************/

/* User Login */

.page-user #main-content{
background:#45494B;
color:#fff;

}

.page-user #page-title{
display:none;
}

.page-user #site-header{
display:none;
}

.not-logged-in .page-user #site-menu{
display:none;
}

.page-user .block-search{
display:none;
}

.page-user .view-calendario-actividades {
display:none;
}

.page-user .block-views{
display:none;
}

.page-user  #sidebar-right{
display:none;
}

.page-user .block-forum{
display:none;
}

/*************************************************************************/



#main-content{
/*-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
border:1px solid #E1E1E1;
background:#fff;*/
padding:20px;
}

#main-top{
/*background:#101010;*/
margin-top:3px;
}


/****************************************************************************/

/************************
*************************   NODOS GRAL.
*************************/


/* CONTENIDOS*/

.content a{
color:#beb5ae;
text-decoration:none;
}

.content a:hover{
text-decoration:underline;
}

h1#page-title {
font-weight:normal;
margin-bottom:10px;
}

.node .content{
margin-top:20px;
}

.meta {
margin-top:-15px;
margin-bottom:15px;
displaY:none;
}

.meta span.submitted {
color:#cdcdcd;
text-transform:uppercase;
font-size:9px;
}

.field-field-datos-actividad{
margin-bottom:15px;
text-transform:uppercase;
font-weight:bold;
}

.field-field-image {
margin-right:20px;
float:left;
}

.node {
margin-bottom:30px;
border-bottom:3px dotted #BEB5AE;
}

.node .content p a{
color:red;
text-decoration:none;
}

.node .content p a:hover{
text-decoration:underline;
}

.node .picture {
display:none;
}

/************************
************************* COMENTARIOS 
************************/

#comments {
color:#1a1a1a;
}

#comments .clear-block{
padding-left:10px;
padding-right:10px;
padding-top:10px;
}

#comments .comment-published:hover{
background: #F1EEEE;
}

#comments h2 {
font-weight:normal;
font-size:16px;
margin-top:20px;
}

#comments span.submitted {
color:#BEB5AE;
font-size:9px;
padding-right:10px;
padding-top:0px;
text-transform:uppercase;
}

#comments span.submitted a{
color:#1a1a1a;
text-decoration:none;
}

#comments span.submitted a:hover{
text-decoration:underline;
}

#comments span.new{
color:#CC0A1E;
}

.comment-published {
margin-top:0px;
margin-bottom:0px;
border-bottom:1px solid #BEB5AE;
}

#comments h3 a.active {
color:#1a1a1a;
font-size:13px;
text-decoration:none;
font-weight:bold;
}

#comments h3 a {
color:#1a1a1a;
font-size:13px;
text-decoration:none;
font-weight:normal;
}

#comments .picture {
float:left;
margin-right:10px;
}

#comments .links{
padding-bottom:5px;
}

#comments ul.links li{
padding-left:10px;
}

#comments ul.links li a {
text-decoration:none;
color:#BEB5AE;
text-transform:uppercase;
font-size:11px;
}

#comments ul.links li a:hover {
text-decoration:underline;
}


/* Formulario */


#comments form#comment-form .form-item label a{
color:#1a1a1a;
text-decoration:none;
font-weight:bold;
}

form#comment-form .form-item label {
display:inline;
width:70px;
text-align:right;
}

form#comment-form .form-item a{
padding-left:10px;
text-decoration:none;
color:#beb5ae;
text-transform:uppercase;
}

form#comment-form .form-item a:hover{
text-decoration:underline;
}

#comments #edit-subject-wrapper label {
float:left;
padding-right:10px;
}

#comments #edit-subject-wrapper input {
border:1px solid #beb5ae;
background:#fff;
width:400px;
}

#comments input#edit-submit{
margin-left:10px;
margin-top:30px;
}

#comments input#edit-preview{
margin-top:30px;
font-size:12px;
}

/* CONTESTAR COMENTARIO */

.page-comment .comment-published{
border-bottom:1px solid #BEB5AE;
margin-bottom:0;
margin-top:0;
}

.page-comment span.submitted{
color:#BEB5AE;
font-size:9px;
padding-right:10px;
padding-top:0;
text-transform:uppercase;
}

.page-comment span.submitted a{
color:#1A1A1A;
text-decoration:none;
}

.page-comment span.submitted a:hover{
text-decoration:underline;
}

.page-comment .picture{
float:left;
margin-right:10px;
}

.page-comment h3 a.active{
color:#1A1A1A;
font-size:13px;
font-weight:bold;
text-decoration:none;
}

.page-comment h2 {
font-size:16px;
font-weight:normal;
margin-top:20px;
}

.page-comment #edit-subject-wrapper label {
float:left;
padding-right:10px;
}

.page-comment #edit-subject-wrapper input {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #BEB5AE;
width:400px;
}

.page-comment input#edit-submit{
margin-left:10px;
margin-top:30px;
}

.page-comment input#edit-preview{
font-size:12px;
margin-top:30px;
}

/* Comentario Respuesta */

#comments .indented{
margin-left:0px;
}

#comments .indented .comment-published{
padding-left:40px;
}


/************************
************************* FIVESTAR
************************/

form.fivestar-widget {
margin-bottom:30px;
}

.fivestar-form-item{
margin-top:60px;
}

/************************
************************* ACTIVIDADES 
************************/

/* Teaser Actividades */

.view-Actividades{
color:#1a1a1a;
}

.view-Actividades .views-row{
border-bottom:1px solid #beb5ae;
background:#fff;
}

.view-Actividades .views-row .views-field-field-image-fid{
float:left;
padding-top:15px;
padding-left:10px;
padding-right:10px;
}

.view-Actividades .views-row .views-field-field-image-fid img{
border:1px solid #1A1A1A;
}

.view-Actividades .views-row .views-field-created{
padding-right:10px;
padding-left:10px;
padding-top:15px;
color:#beb5ae;
font-size:9px;
text-transform:uppercase;
}

.view-Actividades .views-row .views-field-title{
padding-right:10px;
padding-left:10px;
}

.view-Actividades .views-row .views-field-title a{
color:#1A1A1A;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

.view-Actividades .views-row .views-field-title a:hover{
text-decoration:underline;
}

.view-Actividades .views-row .views-field-teaser{
margin-top:10px;
margin-bottom:8px;
padding-right:10px;
padding-left:10px;
}

.view-Actividades .views-field-field-datos-actividad-value{
padding-right:10px;
font-size:9px;
color:#beb5ae;
margin-top:5px;
padding-left:10px;
text-transform:uppercase;
}



/************************
************************* NOTICIAS 
************************/

.view-Noticias{
color:#1a1a1a;
}

.view-Noticias .views-row{
border-bottom:1px solid #beb5ae;
background:#fff;
}

.view-Noticias .views-row .views-field-field-image-fid{
float:left;
padding-top:15px;
padding-left:10px;
padding-right:10px;
}

.view-Noticias .views-row .views-field-field-image-fid img{
border:1px solid #1A1A1A;
}

.view-Noticias .views-row .views-field-created{
padding-right:10px;
padding-left:10px;
padding-top:15px;
color:#beb5ae;
font-size:9px;
text-transform:uppercase;
}

.view-Noticias .views-row .views-field-title{
padding-right:10px;
padding-left:10px;
}

.view-Noticias .views-row .views-field-title a{
color:#1A1A1A;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

.view-Noticias .views-row .views-field-title a:hover{
text-decoration:underline;
}

.view-Noticias .views-row .views-field-teaser{
margin-top:10px;
margin-bottom:8px;
padding-right:10px;
padding-left:10px;
}


/************************
*************************   FORO
*************************/

.page-forum #main-content{
padding:40px;
}

#forum ul.links{
padding-bottom:20px;

}

#forum ul.links li{
padding:0px;
background: url(../images/foro-tema.png) no-repeat scroll 0 99%;
padding-left:21px;
}

#forum ul.links li a{
color:#1a1a1a;
font-weight:bold;
text-decoration:none;
font-size:14px;
}

#forum ul.links li a:hover{
text-decoration:underline;
}

table#forum tr {
background:transparent;
width:100%;
border:none;
}

table#forum td.container{
width:658px;
min-height:70px;
padding:20px;
border-top:3px dotted #BEB5AE;
}

#forum table#forum td.container .name a{
color:#1A1A1A;
text-decoration:none;
font-size:14px;
font-weight:normal;
}

table#forum td.container .description{
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}

table#forum td.forum{
background:none;
padding-left:40px;
padding-right:40px;
padding-bottom:15px;
padding-top:15px;
}

table#forum td.forum .indent {
margin:0px;
/*background: url(../images/foro-tema.png) no-repeat scroll 0 6%;*/
/*padding-left:25px;*/
}

table#forum td.forum .indent .name a{
color: #1a1a1a;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

table#forum td.forum .indent .name a:hover{
text-decoration:underline;
}

table#forum td.forum:hover{
background: #F1EEEE;
}

table#forum td.forum .indent .description{
margin:0px;
color:#1A1A1A;
}

#forum .info-forum{
padding-top:10px;
color:red;
text-transform:uppercase;
font-size:9px;
}

#forum .info-forum .topics {
float:left;
padding-right:5px;
}

#forum .info-forum .topics span.new-topic a{
color: #d40000;
text-decoration:none;
}


#forum .info-forum .posts {
float:left;
padding-right:5px;
}

#forum td.forum .last-reply a{
color:#1a1a1a;
text-decoration:none;
}

#forum td.forum .last-reply a:hover{
color:#1a1a1a;
text-decoration:underline;
}

#forum td.topic-list #icon {
float:left;
padding-right:10px;
}

#forum tbody tr td.topic-list {
padding:20px;
background:#fff;
}

#forum tbody tr td.topic-list:hover{
background:#F1EEEE;
}

#forum tbody tr td.topic-list #title a{
font-size:14px;
color:#1a1a1a;
text-decoration:none;
}

#forum tbody tr td.topic-list #teaser{
color:#1a1a1a;
padding-left:25px;
}

#forum tbody tr td.topic-list .replies {
float:left;
padding-right:5px;
}

#forum tbody tr td.topic-list .info-topic .replies a{
color:#d40000;
text-decoration:none;
}

#forum tbody tr td.topic-list .info-topic .replies a:hover{
text-decoration:underline;
}


#forum tbody tr td.topic-list #last-reply br{
display:none;
}

#forum tbody tr td.topic-list #created {
float:left;
padding-right:5px;
}

#forum tbody tr td.topic-list #created br {
display:none;
}

#forum tbody tr td.topic-list .info-topic{
padding-top:10px;
color:#beb5ae;
text-transform:uppercase;
font-size:9px;
padding-left:25px;
}

#forum tbody tr td.topic-list .info-topic a{
text-decoration:none;
color: #1a1a1a;
}

#forum tbody tr td.topic-list .info-topic a:hover{
text-decoration:underline;
}

/* Página de Container */

table#forum td.forum .name a{
color: #1a1a1a;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

table#forum td.forum .name a:hover{
text-decoration:underline;
}

table#forum td.forum .description{
margin:0px;
color:#1A1A1A;
}


/* Comentar un tema */

.node-type-forum .picture{
display: inline;
}

.node-type-forum span.submitted{
color:#BEB5AE;
font-size:9px;
padding-right:10px;
padding-top:0;
text-transform:uppercase;
}

.node-type-forum span.submitted a{
color:#1a1a1a;
text-decoration:none;
}

.node-type-forum span.submitted a:hover{
text-decoration:underline;
}

.forum-topic-navigation{
border:none;
}



/************************   PANEL INICIO  ***********************************/


#inicio .view-Inicio .views-row{
border-bottom:1px solid #beb5ae;
background:#fff;
}

#inicio .views-row .views-field-field-image-fid{
width:100px;
float:left;
padding-top:15px;
padding-left:10px;
padding-right:10px;
}

#inicio .views-row .views-field-field-image-fid img{
border:1px solid #1A1A1A;
}

#inicio .views-row .views-field-created{
padding-right:10px;
color:red;
font-size:9px;
text-transform:uppercase;
padding-left:10px;
}

#inicio .views-field-field-datos-actividad-value{
padding-right:10px;
font-size:9px;
text-transform:uppercase;
color:#beb5ae;
padding-left:10px;
}

#inicio .views-row .views-field-title{
padding-right:10px;
padding-left:10px;
}

#inicio .views-row .views-field-title a{
color:#1A1A1A;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

#inicio .views-row .views-field-title a:hover{
text-decoration:underline;
}

#inicio .views-row:hover{
background:#fff;
}

#inicio .views-row .views-field-teaser{
padding-right:10px;
margin-bottom:8px;
margin-top:5px;
text-align:justify;
padding-left:10px;
}

#inicio .views-field-type{
font-size:9px;
text-transform:uppercase;
color:red;
padding-top:15px;
padding-left:10px;
}


/************************* NUEVOS SOCIOS *******************************/

/*.pane-nuevos-socios {
border-top: 1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
text-align:justify;
font-size:11px;
background:#cdcdcd;
}

.pane-nuevos-socios h2{
margin-top:0px;
margin-bottom:2px;
border-bottom:1px solid #fff;
font-size:14px;
color: #212178;
font-weight:bold;
background:#ccd9d8;
}

.pane-nuevos-socios .pane-content p{
background:#ccd9d8;
margin-bottom:0px;
}*/



/******************************* PAGER ***********************************/

ul.pager{
margin-top:30px;
color:red;
}

ul.pager li a{
text-decoration:none;
color:red;
}

ul.pager li.pager-next a{
font-weight:bold;

}

ul.pager li.pager-last a{
font-weight:bold;
}

ul.pager li.first{
font-weight:bold;
}

ul.pager li.pager-previous{
font-weight:bold;
}

/******************************************************************************/

/* Block Search */

.block-search h2{
display:none;
}

.block-search{
margin-top:0px;
}

.block-search .container-inline label {
display:none;
}

.block-search .container-inline .form-submit{
font-size:10px;
}

.block-search input.form-text{
margin-left:0px;
border: 1px solid #E1E1E1;
width:116px;
background: #fff url(../images/lupa.png)no-repeat scroll 96% 59%;

}

.block-search .container-inline div, .container-inline label{
display:inline;
}

form#search-block-form input#edit-submit{
margin:0px;
}

/*************************************************************************/

/* Sidebar Right */

#main {
/*position:absolute;*/
border-right:241px solid red;
-moz-border-radius-topright:8px;
-moz-border-radius-bottomright:8px;
}

#sidebar-right {
margin-left:20px;
background-color:red;
/*-moz-border-radius-bottomleft:8px;*/
-moz-border-radius-bottomright:8px;
/*-moz-border-radius-topleft:8px;*/
-moz-border-radius-topright:8px;
/*margin-top:20px;*/
margin-bottom:0px;
/*position:absolute;*/
/*margin-left:-230px;*/
margin-left:-241px;
/*width:241px;*/
margin-top:1px;
border-right:20px solid red;
}

#sidebar-right-container {
padding:15px;
}

/**************************************************************************/

/* Encuestas */

#sidebar-right .block-poll{
/*border-top: 1px solid #333;*/
/*border-bottom: 1px solid #333;*/
color:#1a1a1a;
border-bottom: 1px solid #1a1a1a;
font-size:12px;
}

#sidebar-right .block-poll h2{
color: #1A1A1A;
/*border-bottom: 1px solid #333;*/
border-bottom: 3px dotted #1a1a1a;
margin-top:0px;
font-size:16px;
font-weight:bold;
/*padding-left:8px;*/
}

#sidebar-right .block-poll form#poll-view-voting .form-radios {
font-size:12px;
}

#sidebar-right .block-poll .choices {
color:#1a1a1a;
font-weight:normal;
}

#sidebar-right .block-poll .title{
font-weight:normal;
font-size:14px;
margin-bottom:15px;
}

#sidebar-right .poll .vote-form {
text-align:left;
}

#sidebar-right .poll .vote-form input#edit-vote {
font-size:11px;
margin-bottom:10px;
color:#1A1A1A;
}

#sidebar-right .poll .vote-form input#edit-vote-1 {
color:#1A1A1A;
font-size:11px;
margin-bottom:10px;
}

#sidebar-right .poll .vote-form input#edit-vote-2 {
font-size:11px;
margin-bottom:10px;
color:#1A1A1A;
}


#sidebar-right .poll .vote-form input#edit-vote:hover {
color:#E42236;
}


#sidebar-right .poll .vote-form input#edit-vote-1:hover {
color:#E42236;
}


#sidebar-right .poll .vote-form input#edit-vote-2:hover {
color:#E42236;
}

#sidebar-right .block-poll .text{
margin:0px;
}

#sidebar-right .poll .bar {
background:#fff;
}

#sidebar-right .poll .text{
margin-top:15px;
}

#sidebar-right .poll .percent{
font-size:11px;
}

#sidebar-right .poll .bar .foreground{
background:#1a1a1a;
}

#sidebar-right .poll .total{
text-align:left;
color:#fff;
text-transform:uppercase;
font-size:9px;
margin-bottom:15px;
}

/* Página Encuesta */

#main-content .poll .vote-form{
text-align:left;
}

#main-content .poll .choices {
display:block;
}

#main-content .poll input#edit-vote {
text-align:left;
font-size:12px;
margin-bottom:30px;
margin-top:15px;
}


/*****************************************************************************/

/* Calendario */

.block-views h2{
display: none;
}

.view-display-id-calendar_block_1 {
border:none;
}


.view-calendario-actividades .date-heading h3 a{
color:#1a1a1a;
font-weight:normal;
text-decoration:none;
}

.view-calendario-actividades .date-heading h3 a:hover{
text-decoration:underline;
}

.view-calendario-actividades .calendar-calendar .month-view{
background:#fff;
padding:10px;
}

.block-views .view-calendario-actividades table.mini td.today a{
font-weight:bold;
color:#1a1a1a;
}

.block-views .view-calendario-actividades .calendar-calendar .mini-day-off{
border:1px solid #1a1a1a;
}

.block-views .view-calendario-actividades .calendar-calendar .mini-day-on{
background:#fff;
}


.block-views .view-calendario-actividades .calendar-calendar .date-nav{
background:#fff;
border:none;
padding-left:10px;
padding-right:10px;

}

.view-calendario-actividades .calendar-calendar .date-nav{
background:transparent;
border:none;
padding-left:10px;
padding-right:10px;
}

.block-views .view-calendario-actividades .calendar-calendar .date-nav .date-prev a{
color:#1a1a1a;
font-size:20px;
text-decoration:none;
}

.block-views .view-calendario-actividades .calendar-calendar .date-nav .date-prev a:hover{
color:#1a1a1a;
text-decoration:underline;
}

.block-views .view-calendario-actividades .calendar-calendar .date-nav .date-next a{
color:#1a1a1a;
font-size:20px;
text-decoration:none;
}

.block-views .view-calendario-actividades .calendar-calendar .date-nav .date-next a:hover{
color:#1a1a1a;
text-decoration:underline;
}

.view-calendario-actividades table.mini thead tr{
border:none;
background:#fff;
}

.view-calendario-actividades table.mini thead tr th.days{
background:#fff;
border:none;
color:#1a1a1a;
font-weight:normal;
text-align:center;
}

.view-calendario-actividades table.mini td.today a{
font-weight:bold;
color:#E42236;
}

.view-calendario-actividades tbody {
border:none;
}

.view-calendario-actividades tbody td{
text-align:center;
}

.view-calendario-actividades tbody tr{
background:#fff;
color:#1a1a1a;
text-align:left;
}

.view-calendario-actividades table.mini td.empty{
background:#fff;
}

.view-calendario-actividades tbody a{
color:#1a1a1a;
}

.view-calendario-actividades th.days{
background:transparent;
border:1px solid #BEB5AE;
color:#1a1a1a;
font-weight:normal;
}

.view-calendario-actividades tbody td{
background:transparent;
border:1px solid #BEB5AE;
color:#1a1a1a;
font-weight;
}

.view-calendario-actividades tbody td.empty{
background:transparent;
}

.view-calendario-actividades tbody td.today{
background:transparent;
}

.view-calendario-actividades tbody td.today .inner .day a{
font-weight:bold;
}

.view-calendario-actividades tbody td .inner .day{
background:transparent;
border:none;
}

.view-calendario-actividades tbody td .inner .day a{
color:#1a1a1a;
font-weight:normal;
background:transparent;
font-size:14px;
}

.view-calendario-actividades tbody td.has-events{
background:transparent;
}

.view-calendario-actividades .calendar-calendar td .inner div.calendar div, .view-calendario-actividades .calendar-calendar td .inner div.calendar div a {
background:transparent;
color:#1a1a1a;
font-weight:bold;

}

.view-calendario-actividades .calendar-calendar td .inner div.calendar #node-changed{
display:none;
}

.view-calendario-actividades .calendar-calendar td .inner div.calendar #node-data-field-calendario-field-calendario-value span{
font-weight:normal;
color:#1a1a1a;
}

.calendar-calendar .date-nav .date-heading h3{
font-weight:normal;
color:#1a1a1a;
font-size:14px;
}

.calendar-calendar ul.links {
margin-bottom:30px;
}

.calendar-calendar ul.links li{
padding:6px;
}

.calendar-calendar ul.links li a{
text-decoration:none;
color:#1a1a1a;
font-weight:bold;
}

.calendar-calendar ul.links li a:hover{
text-decoration:underline;
}

.view-calendario-actividades .calendar-calendar .date-nav .date-prev a{
color:#1a1a1a;
font-size:14px;
text-decoration:none;
}

.view-calendario-actividades .calendar-calendar .date-nav .date-prev a:hover{
color:#1a1a1a;
text-decoration:underline;
font-size:14px;
}

.view-calendario-actividades .calendar-calendar .date-nav .date-next a{
color:#1a1a1a;
font-size:20px;
text-decoration:none;
font-size:14px;
}


.view-calendario-actividades .calendar-calendar .date-nav .date-next a:hover{
color:#1a1a1a;
text-decoration:underline;
font-size:14px;
}

/* NOVEDADES FORO */

.block-forum {
border-bottom:1px solid #1a1a1a;
color:#1A1A1A;
font-size:12px;
}

.block-forum h2{
border-bottom:3px dotted #1a1a1a;
font-weight:normal;
font-size:16px;
}

.block-forum .item-list ul{
padding:0px;
}

.block-forum .item-list li{
margin:0px;
list-style-type:none;
}


.block-forum .item-list li:hover {
margin:0px;
background:#252525;
}

.block-forum .item-list li a{
color:#fff;
text-decoration:none;
}

/*********************************
********************************** TABS
*********************************/

#main ul.primary  {
border-bottom:1px solid 1px solid #E1E1E1;
margin-left:25px;
margin-bottom:3px;
margin-top:0px;
padding-bottom:0px;
padding-left:0;
}

#main ul.primary li a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background:#fff none repeat scroll 0 0;
border-left:1px solid #E1E1E1;
border-right:1px solid #E1E1E1;
border-top:1px solid #E1E1E1;
color:#1a1a1a;
/*padding-bottom:3px;*/
padding-top:3px;
}

#main ul.primary li a.active {
font-weight:bold;
}

#main ul.primary li a:hover {
font-weight:bold;
}

.node-type-webform #main-content{
padding-top:60px;
}

#main ul.secondary {
margin-bottom:-39px;
}

#main ul.secondary li {
border-right:1px solid #1A1A1A;
}

#main ul.secondary li a{
color:#1A1A1A;
}

#main ul.secondary li a.active{
border-bottom:3px solid #1A1A1A;
}

#main ul.secondary li a:hover{
font-weight:bold;
}

/************************************
************************************* CONTACTO CONSEJO
************************************/

.node-type-webform #sidebar-right{
display:none;
}

.node-type-webform .node {
border-bottom: 3px dotted #E42236;
}

.node-type-webform h1#page-title{
font-size:16px;
}

.node-type-webform span.submitted {
display:none;
}

.node-type-webform #edit-submitted-asunto-wrapper label{
float:left;
padding-right:10px;
}

.node-type-webform #edit-submitted-asunto-wrapper input{
width:500px;
background:#fff;
border:none;
}

.node-type-webform #main-content {
-moz-border-radius-topleft:0;
border:medium none;
padding-top:60px;
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D40000 none repeat scroll 0 0;
color:#FFFFFF;
}

.node-type-webform #main ul.primary{
border:medium none;
margin-bottom:0;
margin-left:0;
padding-bottom:3px;
padding-left:0;
}

.node-type-webform #main ul.primary li a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background:#252525 none repeat scroll 0 0;
border:medium none;
color:#FFFFFF;
padding-bottom:3px;
padding-top:3px;
}

.node-type-webform input#edit-submit {
font-size:12px;
margin-left:0px;
margin-top:20px;
margin-bottom:30px;
}

/*********************************
********************************** BALANCES Y MEMORIAS
*********************************/

.view-balances-memorias .views-row{
border-bottom:1px solid #BEB5AE;
color:#1a1a1a;
padding-left:10px;
}

.view-balances-memorias .views-field-field-balance-fid, .view-balances-memorias .views-field-field-memoria-fid{
margin-bottom:10px;
}

.view-balances-memorias .views-field-field-balance-fid a{
color:#1a1a1a;
text-decoration:none;
font-size:12px;
}

.view-balances-memorias .views-field-field-balance-fid a:hover{
text-decoration:underline;
}

.view-balances-memorias .views-field-field-memoria-fid a{
color:#1a1a1a;
text-decoration:none;
font-size:12px;
}

.view-balances-memorias .views-field-field-memorias-fid a:hover{
text-decoration:underline;
}

.view-balances-memorias .views-field-title{
color:#1A1A1A;
font-size:14px;
font-weight:bold;
text-decoration:none;
margin-bottom:15px;
}

/*********************************
********************************** CAPTCHA EN COMENTARIOS
*********************************/

form#comment-form .captcha legend{
font-size:16px;
}

form#comment-form .captcha .description {
margin-bottom:10px;
}

form#comment-form .captcha img {
border:1px solid #1a1a1a;
}

form#comment-form .captcha label {
width:230px;
display:block;
text-align:left;
float:none;
}

form#comment-form .captcha input#edit-captcha-response{
border:1px solid #1a1a1a;
margin-top:5px;
}

form#comment-form .captcha #edit-captcha-response-wrapper .description {
padding-left:0px;
}

/* Balances y Memorias */

.view-balances-memorias .views-field-created {
color:#BEB5AE;
font-size:9px;
padding-left:10px;
padding-right:10px;
text-transform:uppercase;
padding-top:15px;
}

.view-balances-memorias .views-field-title{
padding-left:10px;
padding-right:10px;
}

.view-balances-memorias .views-field-title a{
color:#1A1A1A;
font-size:14px;
font-weight:bold;
text-decoration:none;
}

.view-balances-memorias .views-field-title a:hover{
text-decoration:underline;
}

.view-balances-memorias .views-field-teaser{
margin-bottom:8px;
margin-top:5px;
padding-left:10px;
padding-right:10px;
text-align:justify;
}

.view-balances-memorias .filefield-file {
padding-left:10px;
padding-right:10px;
}

/**************** Editar Acta ****************************/

/*body.node-type-acta-consejo #main-content {
width:563px;
}*/

.label1, .label2, .label3, .label4, .label5, .label6, .label7 {
color:#000;
background:#f1f1f1;
width:563px;
}

input#edit-field-ciudad-0-value, input#edit-field-domiciliosocial-0-value, input#edit-field-presidereunion-0-uid-uid, textarea{
border:1px solid #E1E1E1;
margin-left:0px;
width:563px;
}

input#edit-field-fecha-0-value2-datepicker-popup-0, input#edit-field-fecha-0-value-timeEntry-popup-1, input#edit-field-fecha-0-value2-timeEntry-popup-1, input#edit-field-fecha-0-value-datepicker-popup-0{
border:1px solid #E1E1E1;
margin-left:0px;
}

#field_temadereunion_values textarea{
width:531px;
}

#edit-field-ciudad-0-value-wrapper, fieldset, #edit-field-domiciliosocial-0-value-wrapper, #edit-field-presidereunion-0-uid-uid-wrapper, #edit-field-presentes-uid-wrapper, #field-temadereunion-items {
margin-bottom:33px;
}

body.node-type-acta-consejo #node-form .container-inline-date{
margin-bottom:13px;
}

table#field_temadereunion_values {
margin-top:13px;
}

body.node-type-acta-consejo #node-form fieldset, input {
padding:0px;
margin-left:0px;
}

body.node-type-acta-consejo #node-form label, thead{
display:none;
}

body.node-type-acta-consejo #node-form .description{
font-size:0.85em;
font-weight:normal;
}

#field_temadereunion_values tbody {
background:transparent;
border:none;
}

#field_temadereunion_values tr {
background:transparent;
border:none;
}

#field_temadereunion_values td {
padding-bottom:13px;
}

table#field_temadereunion_values {
margin-bottom:0px;
}

#field-temadereunion-items .description, #edit-field-temadereunion-field-temadereunion-add-more {
margin-left:30px;
}
	
body.node-type-acta-consejo #node-form #label_unselected, body.node-type-acta-consejo #node-form #label_selected{
display:none;
}

#edit-field-asamblearef-nid-nid-wrapper {
  display:none;
}

/*node add*/

dl.node-type-list dt {background:url("../images/content.png") no-repeat scroll;height:25px;padding: 5px 0px 0px 40px;}
dl.node-type-list dt a {font-size:16px;color:#1a1a1a;text-decoration:none;}
dl.node-type-list dt a:hover {text-decoration:underline;}
dl.node-type-list dd {padding: 0px 0px 10px 40px; margin-bottom:10px; border-bottom: 1px solid #ccc; color:#a2a2a2; }
