/* $Id: styles.css,v 1.1 2009/01/31 21:28:46 dvessel Exp $ */

h1#site-name {
  margin-bottom: 0;
}

#site-header,
#site-subheader,
#footer-region,
.column,
.node,
.comment,
.block {
  margin-bottom: 1.5em;
}

/*
** Formatting for administration page
**
** The admin panel styles are a mess. IE has problems with this so this is
** only a temporary fix. This should be fixed in core.
*/
div.admin-panel {
  padding: 0;
}

div.admin-panel .body {
  padding: 0 !important;
}

div.admin .left,
div.admin .right {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

div.admin .right .admin-panel {
  margin-left: 10px;
}

/**************************************************************************/

/*SACAR EL GRID*/

#page {
background:none;
}

/*********************   GENERAL   ***********************************/

body {
background: #EFECEA;
color:#333;
}

#page{
background:#EFECEA;
}

#header-wrapper {
float:left;
padding:65px 0 65px 25px;
}

#site-subheader {
display:none;
}

#branding {
color:#fff;
/*height:50px;*/
margin-top:3px;
}


#branding a{
color:#fff;
text-decoration:none;
font-size:16px;
font-weight:normal;
}

#branding #logo{
float:left;
}

#site-name{
background:transparent;
color:#252525;
/*height:50px;*/
font-size:44px;
line-height:1;
}

#site-name a{
padding-left:15px;
padding-right:15px;
color:#252525;
font-size:44px;
line-height:1;
}

#site-name a:hover{
text-decoration:none;
color:#252525;
}

#site-slogan{
/*height:50px;*/
background:transparent;
/*width:717px;*/
margin-left:3px;
}

#site-slogan h1 {
font-weight:normal;
font-size:16px;
padding-left:90px;
padding-right: 15px;
padding-top:8px;
margin-bottom:0px;
color:#252525;
text-transform:uppercase;
}

#footer {
background:#101010;
}


/* Menú Principal */

#navigation{
padding-top:0px;
/*height:25px;*/
background:#252525;
}

ul.main-menu{
background:#252525;
/*height:25px;*/
padding-top:7px;
float:left;
width:638px;
}

ul.main-menu li{
padding-left:15px;
padding-right:15px;
}

ul.main-menu li a{
font-size:13px;
color:#fff;
text-decoration:none;
font-weight:300;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
}

ul.main-menu li a:hover{
background:#FC4F13;
color:#252525;
padding-left:11px;
padding-right:11px;
padding-bottom:9px;
padding-top:4px;
}

ul.main-menu li.active a{
color: #2E2E2E;
background-color:#EFECEA;
padding-left:11px;
padding-right:11px;
padding-bottom:9px;
padding-top:4px;
}

/* Menú Secundario */

#secondary-links{
background:#252525;
padding-top:7px;
padding-bottom:7px;
text-align:left;
}

ul.secondary-menu{
text-align:left;
}

ul.secondary-menu a{
color:#fff;
background:#252525;
font-size:10px;
text-decoration:none;
padding-top:7px;
}

ul.secondary-menu li.active a{
font-weight:bold;
}

ul.secondary-menu a:hover{
text-decoration:underline;
}


/**************************************************************************/

/* User Login */

.page-user #wrapper {
background: url(../images/background-login.png) no-repeat scroll 0 0;
}

.page-user #page-title{
display:none;
}

.page-user #site-header{
display:none;
}

.page-user #site-menu{
display:none;
}

.page-user #search-box{
display:none;
}

/*************************************************************************/


#main-content{
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
border:1px solid #E1E1E1;
background:#fff;
padding:20px;
}

#main-top{
/*background:#101010;*/
margin-top:3px;
}


/****************************************************************************/

/************************
*************************   NODOS GRAL.
*************************/

h1#page-title {
font-weight:normal;
}

.meta {
margin-top:-15px;
margin-bottom:15px;
displaY:none;
}

.meta span.submitted {
color:#cdcdcd;
text-transform:uppercase;
font-size:9px;
}

.field-field-datos-actividad{
margin-bottom:15px;
text-transform:uppercase;
font-weight:bold;
}

.field-field-image {
margin-right:20px;
float:left;
}

.node {
margin-bottom:30px;
}

.node .content p a{
color:#212178;
text-decoration:none;
}

.node .content p a:hover{
text-decoration:underline;
}


/************************
************************* ACTIVIDADES 
************************/

/* Teaser Actividades */

.view-Actividades .views-row{
border-bottom:1px solid #beb5ae;
background:#fff;
min-height: 154px;
}

.view-Actividades .views-row .views-field-field-image-fid{
width:100px;
float:left;
padding-top:15px;
padding-left:10px;
}

.view-Actividades .views-row .views-field-field-image-fid img{
border:1px solid #333;
}

.view-Actividades .views-row .views-field-created{
margin-left:120px;
padding-right:10px;
padding-top:15px;
color:#CDCDCD;
font-size:9px;
text-transform:uppercase;
}

.view-Actividades .views-row .views-field-title{
margin-left:120px;
padding-right:10px;
}

.view-Actividades .views-row .views-field-title a{
color:#333;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

.view-Actividades .views-row .views-field-title a:hover{
text-decoration:underline;
}

.view-Actividades .views-row .views-field-teaser{
margin-left:120px;
margin-top:10px;
padding-right:10px;
}

.view-Actividades .views-field-field-datos-actividad-value{
margin-left:120px;
padding-right:10px;
font-size:9px;
color:#212178;
margin-top:5px;
}

/************************
************************* NOTICIAS 
************************/

.view-Noticias .views-row{
border-bottom:1px solid #beb5ae;
background:#fff;
min-height: 154px;
}

.view-Noticias .views-row .views-field-field-image-fid{
width:100px;
float:left;
padding-top:15px;
padding-left:10px;
}

.view-Noticias .views-row .views-field-field-image-fid img{
border:1px solid #333;
}

.view-Noticias .views-row .views-field-created{
margin-left:120px;
padding-right:10px;
padding-top:15px;
color:#CDCDCD;
font-size:9px;
text-transform:uppercase;
}

.view-Noticias .views-row .views-field-title{
margin-left:120px;
padding-right:10px;
}

.view-Noticias .views-row .views-field-title a{
color:#333;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

.view-Noticias .views-row .views-field-title a:hover{
text-decoration:underline;
}

.view-Noticias .views-row .views-field-teaser{
margin-left:120px;
margin-top:10px;
padding-right:10px;
}


/****************************************************************************/

/************************
*************************   FORO
*************************/

.page-forum #main-content{
padding:40px;
}

#forum ul.links{
padding-bottom:20px;
}

#forum ul.links li{
padding:0px;
}

#forum ul.links li a{
color:#212178;
font-weight:bold;
text-decoration:none;
font-size:14px;
}

#forum ul.links li a:hover{
text-decoration:underline;
}

table#forum tr {
background:transparent;
width:100%;
border:none;
}

table#forum td.container{
width:658px;
min-height:70px;
padding:20px;
border-top:1px solid #BEB5AE;
}

table#forum td.container .name a{
color:#333;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

table#forum td.container .description{
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}

table#forum td.forum{
background:none;
padding-left:40px;
padding-right:40px;
padding-bottom:15px;
padding-top:15px;
}

table#forum td.forum .indent {
margin:0px;
background: url(../images/foro-tema.png) no-repeat scroll 0 6%;
padding-left:25px;
}

table#forum td.forum .indent .name a{
color: #212178;
text-decoration:none;
font-size:14px;
}

table#forum td.forum .indent .name a:hover{
text-decoration:underline;
}

table#forum td.forum:hover{
background: #ECEFF5;
}

table#forum td.forum .indent .description{
margin:0px;
color:#333;
}

#forum .info-forum{
padding-top:10px;
padding-left:25px;
text-transform:uppercase;
font-size:9px;
}

#forum .info-forum .topics {
float:left;
padding-right:5px;
}

#forum .info-forum .topics span.new-topic a{
color: #fc4f13;
text-decoration:none;
}


#forum .info-forum .posts {
float:left;
padding-right:5px;
}

#forum td.forum .last-reply a{
color:#212178;
text-decoration:none;
}

#forum td.forum .last-reply a:hover{
color:#212178;
text-decoration:underline;
}

/************************   PANEL INICIO  ***********************************/


#inicio .view-Inicio .views-row{
border-bottom:1px solid #beb5ae;
background:#fff;
}

#inicio .views-row .views-field-field-image-fid{
width:100px;
float:left;
padding-top:15px;
padding-left:10px;
}

#inicio .views-row .views-field-field-image-fid img{
border:1px solid #333;
}

#inicio .views-row .views-field-created{
margin-left:120px;
padding-right:10px;
color:#cdcdcd;
font-size:9px;
text-transform:uppercase;
}

#inicio .views-field-field-datos-actividad-value{
margin-left:120px;
padding-right:10px;
font-size:9px;
color:#212178;
}

#inicio .views-row .views-field-title{
margin-left:120px;
padding-right:10px;
}

#inicio .views-row .views-field-title a{
color:#333;
text-decoration:none;
font-size:14px;
font-weight:bold;
}

#inicio .views-row .views-field-title a:hover{
text-decoration:underline;
}

#inicio .views-row:hover{
background:#fff;
}

#inicio .views-row .views-field-teaser{
margin-left:120px;
padding-right:10px;
margin-top:5px;
text-align:justify;
}

#inicio .views-field-type{
font-size:9px;
text-transform:uppercase;
color:#212178;
margin-left:120px;
padding-top:15px;
padding-right:10px;
}


/************************* NUEVOS SOCIOS *******************************/

/*.pane-nuevos-socios {
border-top: 1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
text-align:justify;
font-size:11px;
background:#cdcdcd;
}

.pane-nuevos-socios h2{
margin-top:0px;
margin-bottom:2px;
border-bottom:1px solid #fff;
font-size:14px;
color: #212178;
font-weight:bold;
background:#ccd9d8;
}

.pane-nuevos-socios .pane-content p{
background:#ccd9d8;
margin-bottom:0px;
}*/



/******************************** COMENTARIOS *****************************/

#comments {
border-top:1px solid #BEB5AE;
/*background:#e3e3e3;*/
}

.comment-published {
/*border-bottom:1px solid #BEB5AE;*/
}

#comments h3 a.active {
color:#fc4f13;
font-size:13px;
text-decoration:none;
font-weight:normal;
}

#comments .picture {
float:left;
margin-right:10px;
}

/******************************* PAGER ***********************************/

ul.pager{
margin-top:30px;
}

ul.pager li a{
text-decoration:none;
}

ul.pager li.pager-next a{
font-weight:bold;
}

ul.pager li.pager-last a{
font-weight:bold;
}

ul.pager li.first{
font-weight:bold;
}

ul.pager li.pager-previous{
font-weight:bold;
}

/******************************************************************************/

/* Search box */

#search-box{
margin-top:4px;
}

#search-box label {
display:none;
}

#search-box input#edit-submit{
display:none;
}

#search #edit-search-theme-form-1{
margin-left:0px;
background:#fff;
border: 1px solid #beb5ae;
width:157px;

}

#search input#edit-submit-2{
display:none;
}

#search .container-inline div, .container-inline label{
display:inline;
}

/*************************************************************************/

/* Sidebar Right */

#sidebar-right {
margin-left:20px;
margin-top:20px;
}

/**************************************************************************/

/* Encuestas */

#sidebar-right .block-poll{
border-top: 1px solid #333;
border-bottom: 1px solid #333;
color:#1a1a1a;
}

#sidebar-right .block-poll h2{
color: #fff;
border-bottom: 1px solid #333;
margin-top:0px;
font-size:16px;
text-transform: uppercase;
font-weight:normal;
background:#C82128;
padding-left:8px;
}

#sidebar-right .block-poll .choices {
color:#1a1a1a;
font-weight:normal;
}

#sidebar-right .block-poll .choices .title{
font-weight:normal;
font-size:14px;
}

#sidebar-right .poll .vote-form {
text-align:left;
}

#sidebar-right .poll .vote-form input#edit-vote {
background:transparent;
border:none;
font-size:13px;
margin-bottom:10px;
color:#333;
}

#sidebar-right .poll .bar {
background:#fff;
}

#sidebar-right .poll .text{
margin-top:15px;
}

#sidebar-right .poll .total{
text-align:left;
color:#FC4F13;
}

/*****************************************************************************/

/* Calendario */

#block-views-calendar-calendar_block_1 h2{
display: none;
}

